@import "tailwindcss";

@theme {
  --animate-cb-gradient-move: cb-gradient-move 20s ease infinite;

  @keyframes cb-gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer base {
  p {
    @apply mb-2 leading-relaxed text-neutral-200;
  }

  a {
    @apply text-purple-400 hover:text-purple-600 transition-colors duration-200;
    .streaming-platform-icon {
      @apply absolute inline-block left-4 text-indigo-400/60;
    }
    &:hover {
      .streaming-platform-icon {
        @apply text-indigo-600/80;
      }
    }
  }

  svg {
    @apply inline-block align-middle fill-current transition-colors duration-200 text-shadow-sm size-8;
  }
}
