<div
  class="background-overlay sm:animate-cb-gradient-move overflow-hidden fixed inset-0 -z-2 opacity-10 saturate-200 bg-linear-120 from-purple-900 via-indigo-900 to-blue-900 sm:bg-size-[200%_200%]"
>
</div>
