---
import StreamingPlatformsLinks from "../components/StreamingPlatformsLinks.astro";
import StreamingPlatformsLinksDynamic from "../components/StreamingPlatformsLinksDynamic.astro";

export const prerender = true;
---

<main class="md:overflow-auto">
  <section class="px-6 streaming-platforms-section">
    <StreamingPlatformsLinks />
    <StreamingPlatformsLinksDynamic server:defer />
  </section>
</main>
