---
import BackgroundOverlay from "../components/BackgroundOverlay.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Enmanuel Rosales Leon" />
    <meta
      name="description"
      content="Official website of ChocolateButter, the lofi music project by Enmanuel Rosales Leon."
    />
    <title>ChocolateButter</title>
  </head>
  <body class="grid place-content-center font-sans bg-neutral-950 text-white">
    <BackgroundOverlay />
    <div class="container py-16 px-1">
      <slot />
    </div>
  </body>
</html>
